* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  max-width: 76rem;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  margin: auto;
  background: #e6e6fa96;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
nav {
  padding: 0 1rem;
  height: 5rem;
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffffff71;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}
.reset {
  margin-right: 1rem;
}
.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 8rem;
  opacity: 0.1;
}

.element {
  cursor: pointer;
  width: 15%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0%;
  animation-name: flow;
  animation: flow linear;
  border-radius: 25%;
  transform: translate(0%, -100%);
  /* border: 0.01rem solid rgb(156, 149, 149); */
}
.element:hover {
  scale: 1.1;
}
.slow {
  animation-duration: 4.5s;
  background-color: aquamarine;
  background: url("/images/one.png") no-repeat fixed center;
  background-size: cover;
}
.medium {
  animation-duration: 3s;
  background-color: rgb(199, 246, 13);
  background: url("/images/two.png") no-repeat fixed center;
  background-size: cover;
}
.fast {
  animation-duration: 1.8s;
  background-color: rgb(255, 156, 85);
  background: url("/images/three.png") no-repeat fixed center;
  background-size: cover;
}
.decay {
  animation-duration: 4.5s;
  /* background-color: rgb(40, 48, 45); */
  background: url("/images/tooth.png") no-repeat fixed center;
  background-size: cover;
}
.a {
  left: 5%;
}
.b {
  left: 30%;
}
.c {
  left: 55%;
}
.d {
  left: 80%;
}
@keyframes flow {
  from {
    top: 0%;
    transform: translate(0%, -100%);
  }
  to {
    top: 100%;
    transform: translate(0%, 100%);
  }
}
#intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
#intro button {
  border-radius: 1rem;
  background-color: blueviolet;
  font-size: 4rem;
  color: aliceblue;
  padding: 1rem 2rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
li img {
  width: 7rem;
  height: auto;
}
